<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CO2 Emission Predictor</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="main">
        <div class="header">
            <h1>Predict CO2 Emission of Gasoline Vehicles</h1>
        </div>
        <h3>Enter the following values to predict the CO2 emission</h3>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict') }}" method="post">
            <input type="text" name="feature1" placeholder="Engine Size" required="required" />
            <input type="text" name="feature2" placeholder="Cylinders" required="required" />
            <input type="text" name="feature3" placeholder="Fuel Consumption" required="required" />
                
            <button type="submit" class="btn">
                <span>
                    Predict
                </span>
            </button>

        </form>
        <h3>{{ best_model }}</h3>
        <h3>{{ best_prediction }}</h3>
        <h3>{{ error_percentage }}</h3>
    </div>

    <div class="buttons">
        <!-- Two buttons on the left and right -->
        <button class="btn-left">
            <a href="{{ url_for('compare') }}" class="btn-left">
                Compare
            </a>
        </button>

        <a href="{{ url_for('graph_representation') }}" class="btn-right">
            Efficiency
        </a>
    </div>

</body>
</html>